@charset "UTF-8";
@import "tailwindcss";

@theme static {
  --font-eskapade: "Eskapade";
  --font-paradigm: "Paradigm";
  --color-sheet-header-fill: ;
  --color-text-header-primary: ;
  --color-text-header-secondary: ;
  --color-text-header-tertiary: ;
  --color-sheet-main-fill: ;
  --color-portrait-border: ;
  --color-text-tab-active: ;
  --color-text-tab-inactive: ;
  --color-scroll-bar-handle: ;
  --color-scroll-bar-track: ;
  --color-section-header-fill: ;
  --color-section-header-line: ;
  --color-text-section-header: ;
  --color-text-primary: ;
  --color-text-secondary: ;
  --color-text-tertiary: ;
  --color-text-special: ;
  --color-text-aux: ;
  --color-text-dmg: ;
  --color-text-glow: ;
  --color-ic-skill-trained: ;
  --color-ic-skill-untrained: ;
  --color-skill-divider: ;
  --color-skill-bg-fill: ;
  --color-skill-border: ;
  --color-text-stat-block: ;
  --color-stat-block-fill: ;
  --color-wealth-fill: ;
  --color-wealth-denom-label: ;
  --color-table-border: ;
  --color-table-row-odd: ;
  --color-table-row-even: ;
  --color-text-table-item: ;
  --color-ic-hp: ;
  --color-text-hp-current: ;
  --color-text-hp-max: ;
  --color-ic-armor-fill: ;
  --color-ic-armor-border: ;
  --color-text-armor: ;
  --color-ic-luck: ;
  --color-text-luck-current: ;
  --color-ic-studied: ;
  --color-text-studied-current: ;
  --color-ic-fatigue: ;
  --color-text-fatigue-current: ;
  --color-mana: ;
  --color-ic-equipped: ;
  --color-text-encumbrance: ;
  --color-btn-primary-fill: ;
  --color-btn-primary-text: ;
  --color-btn-secondary-text: ;
  --color-destructive-action: ;
  --color-context-menu-fill: ;
  --color-context-menu-hover: ;
  --color-context-menu-text: ;
  --color-dice: ;
  --color-dice-text: ;
  --color-magical: ;
  --color-fire: ;
  --color-cold: ;
  --color-shock: ;
  --color-acid: ;
  --color-poison: ;
  --color-necrotic: ;
  --color-psychic: ;
  --color-healing: ;
  --color-physical: ;
  --color-white: ;
  --color-black: ;
  --color-success: ;
  --color-failure: ;
  --color-dice-chat: ;
}

.light {
  --color-sheet-header-fill: #181818;
  --color-text-header-primary: #eeeeed;
  --color-text-header-secondary: #d2b450;
  --color-text-header-tertiary: #212e41;
  --color-sheet-main-fill: #fbfbfb;
  --color-portrait-border: #352f28;
  --color-text-tab-active: #53514a;
  --color-text-tab-inactive: #b7b0a7;
  --color-scroll-bar-handle: #cdcdcd;
  --color-scroll-bar-track: #f0f0f0;
  --color-section-header-fill: #181818;
  --color-section-header-line: #212e41;
  --color-text-section-header: #eeeeed;
  --color-text-primary: #181818;
  --color-text-secondary: #44403b;
  --color-text-tertiary: #6f5e53;
  --color-text-special: #181818;
  --color-text-aux: #747069;
  --color-text-dmg: #e7000b;
  --color-text-glow: #212e41;
  --color-ic-skill-trained: #3d5541;
  --color-ic-skill-untrained: #aeb2a4;
  --color-skill-divider: #b7b0a7;
  --color-skill-bg-fill: #f4efea;
  --color-skill-border: #d6d3d1;
  --color-text-stat-block: #e1dbd9;
  --color-stat-block-fill: #181818;
  --color-wealth-fill: #f0e6d2;
  --color-wealth-denom-label: #bb4d00;
  --color-table-border: #181818;
  --color-table-row-odd: #e2c38c;
  --color-table-row-even: #fbfbfb;
  --color-text-table-item: #53514a;
  --color-ic-hp: #e7000b;
  --color-text-hp-current: #e7000b;
  --color-text-hp-max: #9f0712;
  --color-ic-armor-fill: #c4c2c4;
  --color-ic-armor-border: #78706a;
  --color-text-armor: #3f3c36;
  --color-ic-luck: #00a63e;
  --color-text-luck-current: #00a63e;
  --color-ic-studied: #0092b8;
  --color-text-studied-current: #0092b8;
  --color-ic-fatigue: #733e0a;
  --color-text-fatigue-current: #733e0a;
  --color-mana: #155dfc;
  --color-mana-50: #155dfc80;
  --color-ic-equipped: #3d5541;
  --color-text-encumbrance: #181818;
  --color-btn-primary-fill: #181818;
  --color-btn-primary-text: #eeeeed;
  --color-btn-secondary-text: #3d2622;
  --color-destructive-action: #f72b35;
  --color-context-menu-fill: #c5c5c5;
  --color-context-menu-hover: #212e4144;
  --color-context-menu-text: #181818;
  --color-dice: #212e41;
  --color-dice-text: #ffffff;
  --color-magical: #155dfc;
  --color-fire: #DE671E;
  --color-cold: #00D0FF;
  --color-shock: #FFFF56;
  --color-acid: #80E31C;
  --color-poison: #3b680d;
  --color-necrotic: #009800;
  --color-psychic: #E938DD;
  --color-healing: #00FF00;
  --color-physical: #181818;
  --color-black: #000000;
  --color-success: #289652;
  --color-failure: #b91c1c;
}

.dark {
  --color-sheet-header-fill: #181818;
  --color-text-header-primary: #eeeeed;
  --color-text-header-secondary: #d2b450;
  --color-text-header-tertiary: #d2b450;
  --color-sheet-main-fill: #292524;
  --color-portrait-border: #675e38;
  --color-text-tab-active: #d1c8c0;
  --color-text-tab-inactive: #675e38;
  --color-scroll-bar-handle: #787677;
  --color-scroll-bar-track: #221f21;
  --color-section-header-fill: #181818;
  --color-section-header-line: #212e41;
  --color-text-section-header: #eeeeed;
  --color-text-primary: #F5F5F4;
  --color-text-secondary: #d1c8c0;
  --color-text-tertiary: #918780;
  --color-text-special: #F5F5F4;
  --color-text-aux: #c1bebd;
  --color-text-dmg: #ee5e61;
  --color-text-glow: #d2b450;
  --color-ic-skill-trained: #d2b450;
  --color-ic-skill-untrained: #57534d;
  --color-skill-divider: #47412e;
  --color-skill-bg-fill: #1d1a19;
  --color-skill-border: #44403b;
  --color-text-stat-block: #d2b450;
  --color-stat-block-fill: #181818;
  --color-wealth-fill: #181818;
  --color-wealth-denom-label: #bb4d00;
  --color-table-border: #575757;
  --color-table-row-odd: #181818;
  --color-table-row-even: ##212e41;
  --color-text-table-item: #eae8e7;
  --color-ic-hp: #e7000b;
  --color-text-hp-current: #e7000b;
  --color-text-hp-max: #ff6467;
  --color-ic-armor-fill: #c4c2c4;
  --color-ic-armor-border: #78706a;
  --color-text-armor: #3f3c36;
  --color-ic-luck: #00a63e;
  --color-text-luck-current: #00a63e;
  --color-ic-studied: #0092b8;
  --color-text-studied-current: #0092b8;
  --color-mana: #155dfc;
  --color-ic-fatigue: #a59f9a;
  --color-text-fatigue-current: #a59f9a;
  --color-ic-equipped: #d2b450;
  --color-text-encumbrance: #d2b450;
  --color-btn-primary-fill: #d2b450;
  --color-btn-primary-text: #181818;
  --color-btn-secondary-text: #F5F5F4;
  --color-destructive-action: #f72b35;
  --color-context-menu-fill: #0c0c0c;
  --color-context-menu-hover: #2b2a2a;
  --color-context-menu-text: #d2b450;
  --color-dice: #d2b450;
  --color-dice-text: #212e41;
  --color-magical: #155dfc;
  --color-fire: #DE671E;
  --color-cold: #00D0FF;
  --color-shock: #FFFF56;
  --color-acid: #80E31C;
  --color-poison: #3b680d;
  --color-necrotic: #009800;
  --color-psychic: #E938DD;
  --color-healing: #00FF00;
  --color-physical: #e7e8f0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-success: #4cb675;
  --color-failure: #cf3131;
}

@layer utilities {
  .vglite-hovered {
    filter: drop-shadow(0 0 5px var(--color-text-glow));
  }

  .hover-glow {
    /* Transition filter instead of text-shadow */
    transition: filter 0.2s ease; 
  }

  .hover-glow:hover {
    filter: drop-shadow(0 0 5px var(--color-text-glow));
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--color-text-tertiary);
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 4px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  bottom: 4px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
}

.react-tabs__tab {
  color: var(--color-text-tab-active);
  transition: text-shadow 0.2s ease-in-out;
}

.react-tabs__tab:hover {
  text-shadow: 0 0 10px var(--color-text-glow);
}

.react-tabs__tab--selected {
  border-radius: 5px 5px 0 0;
  font-weight: 600;
}

.react-tabs__tab--selected {
  border-color: var(--color-text-tertiary);
}

.react-tabs__tab--selected:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab--selected:after {
  background: var(--color-text-tab-active);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  margin-left: 4px;
  margin-right: 4px;
}

.szh-menu {
  outline: none;
  box-shadow: none;
  width: max-content;
}
.szh-menu__item:hover,
.szh-menu__item:focus,
.szh-menu__item--hover {
  outline: none !important;
  box-shadow: none !important;
}