@use "./_theme";
@use "./_grid";
@use "./_svg";

.vglite-container {
    @include theme.themify() {
        background-color: theme.themed('fill-medium');
    }
}

.vglite-text {
    font-size: 32px;
    font-family: 'Eskapade';

    @include theme.themify() {
        color: theme.themed('text-primary');
    }
}

.vglite-header {
    display: flex;
    width: 100%;

    @include theme.themify() {
        background-color: theme.themed('fill-header');
    }

    align-items: center;

    h1 {
        @include theme.themify() {
            color: theme.themed('text-secondary');
        }

        text-align: center;
        font-family: 'Eskapade';
        position: relative;
        bottom: 5px;
    }

    .vglite-divider {
        @include theme.themify() {
            color: theme.themed('fill-medium');
        }

        flex: 1;
        height: 1px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.vglite-divider {
    @include theme.themify() {
        background-color: theme.themed('fill-light');
    }
}

.vglite-hero-sheet {
    padding: 8px;

    @include theme.themify() {
        background-color: theme.themed('fill-light');
    }
}

.vglite-hero-sheet-header {
    @include theme.themify() {
        background-color: theme.themed('sheet-header-fill');
    }

    font-weight: bolder;
    height: fit-content;
    box-sizing: border-box;
    padding: 8px;

    .name {
        font-size: 32px;

        @include theme.themify() {
            color: theme.themed('text-header-primary');
        }
    }

    .descriptor {
        @include theme.themify() {
            color: theme.themed('text-header-secondary');
        }

        font-size: 14px;
        font-weight: normal;
        display: inline-block;
    }

    .vglite-dot {
        @include theme.themify() {
            color: theme.themed('text-header-secondary');
        }
    }

    .xp {
        @include theme.themify() {
            color: theme.themed('text-header-tertiary');
        }

        font-weight: normal;
        font-size: 16px;
    }
}

.vglite-thumbnail {
    height: 200px;
    width: 200px;

    @include theme.themify() {
        background-color: theme.themed('portrait-fill-bg');
    }
}

.vglite-hp {
    font-family: 'Eskapade';
    font-size: 36px;

    @include theme.themify() {
        .current {
            color: theme.themed('text-hp-current');
        }

        .slash {
            color: theme.themed('text-tertiary');
        }

        .max {
            color: theme.themed('text-hp-max');
        }
    }
}

.float-right {
    float: right;
    margin-right: 8px;
}

.vglite-menu {
    border-width: 0.5px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 4px;
    color: inherit !important;

    --button-hover-background-color: #79716b;

    @include theme.themify() {
        border-color: theme.themed('text-header-primary');
    }
}

.vglite-heart-icon {
    // display: 'flex';
    // padding: "10px";
    // padding-left: "20px";
    // align-items: center;
    // gap: 6px;
    // this was here when it was in main tab, might be helpful

    @include theme.themify() {
        color: theme.themed('text-hp-current');
        fill: theme.themed('text-hp-current');
    }
}