@use "./_theme";
@use "./_grid";
@use "./_svg";
@use "./tab";

.vglite-container {
    @include theme.themify() {
        background-color: theme.themed('fill-medium');
    }
}

.vglite-text {
    font-size: 32px;
    font-family: 'Eskapade';

    @include theme.themify() {
        color: theme.themed('text-primary');
    }
}

.vglite-header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 30px;

    @include theme.themify() {
        background-color: theme.themed('section-header-fill');
    }

    div {
        @include theme.themify() {
            color: theme.themed('text-section-header');
        }

        text-align: center;
        font-family: 'Eskapade';
        font-size: 16px;
        font-weight: bold;
    }

    .vglite-divider {
        @include theme.themify() {
            background-color: theme.themed('section-header-line');
        }

        flex: 1;
        height: 1px;
        margin-right: 6px;
        margin-left: 6px;
    }
}

.vglite-hero-sheet {
    padding: 8px;

    @include theme.themify() {
        background-color: theme.themed('fill-light');
    }
}

.vglite-hero-sheet-header {
    @include theme.themify() {
        background-color: theme.themed('sheet-header-fill');
    }

    font-weight: bolder;
    height: fit-content;
    box-sizing: border-box;
    padding: 8px;

    .name {
        font-size: 32px;

        @include theme.themify() {
            color: theme.themed('text-header-primary');
        }
    }

    .descriptor {
        @include theme.themify() {
            color: theme.themed('text-header-secondary');
        }

        font-size: 14px;
        font-weight: normal;
        display: inline-block;
    }

    .vglite-dot {
        @include theme.themify() {
            color: theme.themed('text-header-secondary');
        }
    }

    .xp {
        @include theme.themify() {
            color: theme.themed('text-header-tertiary');
        }

        font-weight: normal;
        font-size: 16px;
    }
}

.vglite-thumbnail {
    height: 200px;
    width: 200px;

    @include theme.themify() {
        background-color: theme.themed('portrait-fill-bg');
    }
}

.float-right {
    float: right;
    margin-right: 8px;
}

.vglite-menu {
    border-width: 0.5px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 4px;
    color: inherit !important;

    --button-hover-background-color: #79716b;

    @include theme.themify() {
        border-color: theme.themed('text-header-primary');
    }
}

.hero-hp {
    font-family: 'Eskapade';
    font-size: 28px;
    font-weight: bold;
    display: flex;
    padding-left: 25px;
    align-items: center;
    gap: 6px;

    @include theme.themify() {
        .current {
            color: theme.themed('text-hp-current');
        }

        .slash {
            color: theme.themed('text-tertiary');
        }

        .max {
            color: theme.themed('text-hp-max');
        }
    }
}

.hero-armor {
    padding-right: 35px;
}

.vglite-heart-icon {
    @include theme.themify() {
        color: theme.themed('text-hp-current');
        fill: theme.themed('text-hp-current');
    }
}

.vglite-shield-icon {
    margin-left: auto;
    position: relative;
    top: 1px;

    @include theme.themify() {
        color: theme.themed('ic-armor-border');
        fill: theme.themed('ic-armor-fill');
    }
}

.vglite-stats-container {
    @include theme.border();
    display: flex;
    column-gap: 16px;
    row-gap: 4px;
    flex-wrap: wrap;
    padding-left: 12px;
    margin-top: 2px;
}

.vglite-stat {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

    @include theme.themify() {
        color: theme.themed('text-special');
    }

    .vglite-stat-value {
        font-size: 32px;

        @include theme.themify() {
            background-color: theme.themed('section-header-fill');
            color: theme.themed('text-section-header');
        }
    }
}

@mixin right-side($no-border: false) {
    margin-top: 4px;
    margin-right: 4px;

    @if not $no-border {
        @include theme.border();
    }
}

@mixin centered() {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    @include theme.border();
}

.vglite-trackers {
    @include right-side();
    margin-top: 4px;

    .trackers-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top: 2px;
    }

    .vglite-tracker {
        font-family: 'Paradigm';
        text-align: center;
        width: 33%;

        @include theme.themify() {
            color: theme.themed('text-primary')
        }

        div {
            position: relative;
            font-size: 24px;
            font-weight: bold;
            font-family: 'Eskapade';
            text-align: center;
            display: flex;
            align-items: center;
            margin-top: -4px;
        }
    }
}

.vglite-studied {
    @include theme.themify() {
        color: theme.themed('text-studied-current')
    }
}

.vglite-fatigue {
    @include theme.themify() {
        color: theme.themed('text-fatigue-current')
    }
}

.vglite-luck {
    @include theme.themify() {
        color: theme.themed('text-luck-current')
    }
}

.vglite-saves {
    @include right-side(true); // no-border is the arg
    margin-top: 4px;

    .vglite-row {
        gap: 0.5rem;
    }

    .vglite-save {
        @include theme.border(0px);
        position: relative;
        margin-top: 2px;
        margin-right: 0px;
    }

    .save-value {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        span {
            position: relative;
            top: 1px;
        }

        @include theme.themify() {
            background-color: theme.themed('section-header-fill');
            color: theme.themed('text-section-header');
        }
    }

    .save-name {
        position: relative;
        top: 1px;
        font-size: 18px;
        font-weight: bold;

        @include theme.themify() {
            color: theme.themed('text-primary');
        }
    }
}

.vglite-card {
    @include centered();
    border-radius: 6px;
    padding-bottom: 0;

    @include theme.themify() {
        background-color: theme.themed('skill-bg-fill');
    }
}

.vglite-collapsed {
    .vglite-card-header {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.vglite-card-header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 32px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    @include theme.themify() {
        background-color: theme.themed('section-header-fill');
    }

    button {
        border: 0;

        @include theme.themify() {
            color: theme.themed('text-section-header');
        }
    }

    div {
        @include theme.themify() {
            color: theme.themed('text-section-header');
        }

        display: flex;
        text-align: center;
        font-family: 'Eskapade';
        position: relative;
        font-size: 18px;
        margin-left: 8px;
        font-weight: bold;
    }

    .vglite-divider {
        @include theme.themify() {
            background-color: theme.themed('section-header-line');
        }

        flex: 1;
        height: 1px;
        margin-right: 6px;
        margin-left: 6px;
    }
}

.vglite-card-sub-header {
    display: flex;
    width: fit-content;
    align-items: left;
    height: 24px;
    clip-path: polygon(0px 0px, 100% 0px, calc(100% - 15px) 100%, 0px 100%);

    @include theme.themify() {
        background-color: theme.themed('section-header-fill');
    }

    div {
        @include theme.themify() {
            color: theme.themed('text-section-header');
        }

        font-family: 'Paradigm';
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 18px;
        margin: 0px;
        margin-left: 8px;
        margin-right: 8px;
        padding-right: 2rem;
    }
}

.vglite-card-body {
    width: fit-content;
    height: fit-content;
    padding: 8px;

    @include theme.themify() {
        background-color: theme.themed('skill-bg-fill');
    }
}

.vglite-body-text {
    @include theme.themify() {
        color: theme.themed('text-primary');
    }

    font-family: 'Paradigm';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    margin: 0px;
}

.vglite-body-text-highlight {
    @include theme.themify() {
        color: theme.themed('text-highlight');
    }

    font-family: 'Paradigm';
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
    margin: 0px;
}