@use "./_theme";
@use "./_grid";
@use "./_svg";

.vglite-container {
    @include theme.themify() {
        background-color:theme.themed('fill-medium');
    }
}

.vglite-text {
    font-size: 32px;
    font-family: 'Eskapade';
    @include theme.themify() {
        color:theme.themed('text-primary');
    }
}

.vglite-header {
    display: flex;
    width: 100%;
    @include theme.themify() {
        background-color:theme.themed('fill-header');
    }
    align-items: center;
    h1 {
        @include theme.themify() {
            color:theme.themed('text-secondary');
        }
        text-align: center;
        font-family: 'Eskapade';
        position: relative;
        bottom: 5px;
    }
    .vglite-divider {
        @include theme.themify() {
            color:theme.themed('fill-medium');
        }
        flex: 1;
        height: 1px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.vglite-divider {
    @include theme.themify() {
        background-color:theme.themed('fill-light');
    }
}

.vglite-hero-sheet {
    padding: 8px;
    @include theme.themify() {
        background-color:theme.themed('fill-light');
    }
}

.vglite-hero-sheet-header {
    @include theme.themify() {
        background-color: theme.themed('fill-heavy');

        .name {
            font-family: theme.themed('text-title-font');
            color: theme.themed('text-primary');
            font-size: 32px;
            font-weight: theme.themed('text-title-font-weight');
        }

        .level {
            font-family: theme.themed('text-body-font');
            color: theme.themed('text-primary');
            font-size: 18px;
            font-weight: normal;
            flex: 1;
            padding-bottom: 5px;

            .vglite-dot {
                color: theme.themed('text-tertiary');
            }

            span {
                padding-right: 3px;
            }
        }

        .xp {
            color: theme.themed('text-tertiary');
            font-weight: normal;
            font-size: 16px;
            span {
                padding-right: 3px;
            }
        }
    }
}

.vglite-thumbnail {
    height: 200px;
    width: 200px;
    @include theme.themify() {
        background-color:theme.themed('fill-portrait-bg');
    }
}

.vglite-hp {
    font-family: 'Eskapade';
    font-size: 36px;
    @include theme.themify() {
        .current {
            color:theme.themed('hp-current');
        }
        .slash {
            color:theme.themed('text-tertiary');
        }
        .max {
            color:theme.themed('hp-max');
        }
    }
}