@use "./_theme";

svg.vglite-hp {
    @include theme.themify() {
            border-color: theme.themed('hp-icon-color');
            color: theme.themed('hp-icon-color');
            fill: theme.themed('hp-icon-color');
        }
}