@use "./_theme";

.vglite-hp {
    @include theme.themify() {
            border-color: theme.themed('hp-icon-color');
            color: theme.themed('hp-icon-color');
            fill: theme.themed('hp-icon-color');
        }
}

.vglite-armor {
    margin-left: 20px;
    color: theme.$tertiary-color;
    fill: theme.$fill-other;
}