@use "./_theme";

.vglite-hp {
    @include theme.themify() {
        border-color: themed('ic-hp');
        color: themed('ic-hp');
        fill: themed('ic-hp');
    }
}

.vglite-armor {
    @include theme.themify() {
        margin-left: 20px;
        color: themed('text-tertiary');
        fill: themed('fill-medium');
    }
}