@use "sass:map";

$themes: (
  light: (sheet-header-fill: #6a2e2a,
    text-header-primary: #eeeeed,
    text-header-secondary: #eeeeed,
    text-header-tertiary: #e1dbd9,

    portrait-fill-bg: rgba(0, 0, 0, 0.1),
    portrait-border: #352f28,
    body-fill: #faf0e6,

    text-tab-active: #53514a,
    text-tab-inactive: #b7b0a7,
    scroll-bar-handle: #cdcdcd,
    scroll-bar-track: #f0f0f0,

    section-header-fill: #6a2e2a,
    section-header-line: #b59795,
    text-section-header: #eeeeed,

    text-primary: #1c1917,
    text-secondary: #44403b,
    text-tertiary: #6f5e53,
    text-special: #6a2e2a,
    text-aux: #747069,
    text-dmg: #e7000b,
    text-highlight: #292524,
    text-bold: #292524,

    ic-skill-trained: #3d5541,
    ic-skill-untrained: #aeb2a4,
    skill-divider: #e7e5e4,
    skill-bg-fill: #f4efea,
    skill-border: #d6d3d1,
    stat-block-fill: #6a2e2a,

    table-border: #966e50,
    table-fill-odd: #faf0e6,
    table-fill-even: #f4efea,
    text-table-item: #53514a,

    ic-hp: #e7000b,
    text-hp-current: #e7000b,
    text-hp-max: #9f0712,
    ic-armor-fill: #a59f9a,
    ic-armor-border: #78706a,
    text-armor: #56524c,
    ic-luck: #00a63e,
    text-luck-current: #00a63e,
    ic-studied: #0092b8,
    text-studied-current: #0092b8,
    ic-fatigue: #733e0a,
    text-fatigue-current: #733e0a,
    ic-mana: #155dfc,
    text-mana-current: #155dfc,
    text-mana-max: #155dfc,
    ic-equipped: #3d5541,
    btn-primary-fill: #6a2e2a,
    btn-primary-hover: #fdfbf7,
    btn-primary-text: #eeeeed,
    btn-secondary-fill: #d7ccc8,
    btn-secondary-hover: #d6a593,
    btn-secondary-text: #3d2622,
    destructive-action: #f72b35),
  dark: (
    sheet-header-fill: #1c1917,
    text-header-primary: #c5b358,
    text-header-secondary: #c3c0be,
    text-header-tertiary: #8a8580,

    portrait-fill-bg: rgba(0, 0, 0, 0.1),
    portrait-border: #c5b358,
    body-fill: #292524,

    text-tab-active: #c5b358,
    text-tab-inactive: #675e38,
    scroll-bar-handle: #787677,
    scroll-bar-track: #221f21,

    section-header-fill: #c5b358,
    section-header-line: #918444,
    text-section-header: #1c1917,

    text-primary: #e7e5e4,
    text-secondary: #a6a09b,
    text-tertiary: #79716b,
    text-special: #e7e5e4,
    text-aux: #c1bebd,
    text-dmg: #ee5e61,
    text-highlight: #e2c38c,
    text-bold: #c1af56,

    ic-skill-trained: #c5b358,
    ic-skill-untrained: #57534d,
    skill-divider: #47412e,
    skill-bg-fill: #292524,
    skill-border: #44403b,
    stat-block-fill: #c5b358,

    table-border: #44403b,
    table-fill-odd: #292524,
    table-fill-even: #44403c,
    text-table-item: #eae8e7,

    ic-hp: #e7000b,
    text-hp-current: #e7000b,
    text-hp-max: #ff6467,
    ic-armor-fill: #a59f9a,
    ic-armor-border: #78706a,
    text-armor: #56524c,
    ic-luck: #00a63e,
    text-luck-current: #00a63e,
    ic-studied: #0092b8,
    text-studied-current: #0092b8,
    ic-mana: #155dfc,
    text-mana-current: #155dfc,
    text-mana-max: #155dfc,
    ic-fatigue: #a59f9a,
    text-fatigue-current: #a59f9a,
    ic-equipped: #c5b358,
    btn-primary-fill: #c5b358,
    btn-primary-hover: #c5bb82,
    btn-primary-text: #1c1917,
    btn-secondary-fill: #44403b,
    btn-secondary-hover: #636363,
    btn-secondary-text: #e7e5e4,
    destructive-action: #f72b35),
);

@mixin themify() {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: (
        ) !global;

      @each $key, $submap in $map {
        $value: map.get(map-get($themes, $theme), '#{$key}'
        );
      $theme-map: map.merge($theme-map, ($key: $value)) !global;
    }

    @content;
    $theme-map: null !global;
  }
}
}

@mixin border() {
  border: 1px solid;
  padding-bottom: 4px;
  margin-right: 4px;

  @include themify() {
    border-color: themed('text-tertiary');
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}