@charset "UTF-8";
@import "tailwindcss";

@theme static {
  --font-eskapade: "Eskapade";
  --font-paradigm: "Paradigm";
  --color-sheet-header-fill: ;
  --color-text-header-primary: ;
  --color-text-header-secondary: ;
  --color-text-header-tertiary: ;
  --color-portrait-fill-bg: ;
  --color-portrait-border: ;
  --color-body-fill: ;
  --color-text-tab-active: ;
  --color-text-tab-inactive: ;
  --color-scroll-bar-handle: ;
  --color-scroll-bar-track: ;
  --color-section-header-fill: ;
  --color-section-header-line: ;
  --color-text-section-header: ;
  --color-text-primary: ;
  --color-text-secondary: ;
  --color-text-tertiary: ;
  --color-text-special: ;
  --color-text-aux: ;
  --color-text-dmg: ;
  --color-text-highlight: ;
  --color-text-bold: ;
  --color-ic-skill-trained: ;
  --color-ic-skill-untrained: ;
  --color-skill-divider: ;
  --color-skill-bg-fill: ;
  --color-skill-border: ;
  --color-stat-block-fill: ;
  --color-table-border: ;
  --color-table-fill-odd: ;
  --color-table-fill-even: ;
  --color-text-table-item: ;
  --color-ic-hp: ;
  --color-text-hp-current: ;
  --color-text-hp-max: ;
  --color-ic-armor-fill: ;
  --color-ic-armor-border: ;
  --color-text-armor: ;
  --color-ic-luck: ;
  --color-text-luck-current: ;
  --color-ic-studied: ;
  --color-text-studied-current: ;
  --color-ic-fatigue: ;
  --color-text-fatigue-current: ;
  --color-mana: ;
  --color-ic-equipped: ;
  --color-btn-primary-fill: ;
  --color-btn-primary-hover: ;
  --color-btn-primary-text: ;
  --color-btn-secondary-fill: ;
  --color-btn-secondary-hover: ;
  --color-btn-secondary-text: ;
  --color-destructive-action: ;
}

.light {
  --color-sheet-header-fill: #6a2e2a;
  --color-text-header-primary: #eeeeed;
  --color-text-header-secondary: #eeeeed;
  --color-text-header-tertiary: #e1dbd9;

  --color-portrait-fill-bg: rgba(0; 0; 0; .1);
  --color-portrait-border: #352f28;
  --color-body-fill: #faf0e6;

  --color-text-tab-active: #53514a;
  --color-text-tab-inactive: #b7b0a7;
  --color-scroll-bar-handle: #cdcdcd;
  --color-scroll-bar-track: #f0f0f0;

  --color-section-header-fill: #6a2e2a;
  --color-section-header-line: #b59795;
  --color-text-section-header: #eeeeed;

  --color-text-primary: #1c1917;
  --color-text-secondary: #44403b;
  --color-text-tertiary: #6f5e53;
  --color-text-special: #6a2e2a;
  --color-text-aux: #747069;
  --color-text-dmg: #e7000b;
  --color-text-highlight: #292524;
  --color-text-bold: #292524;

  --color-ic-skill-trained: #3d5541;
  --color-ic-skill-untrained: #aeb2a4;
  --color-skill-divider: #e7e5e4;
  --color-skill-bg-fill: #f4efea;
  --color-skill-border: #d6d3d1;
  --color-stat-block-fill: #6a2e2a;

  --color-table-border: #966e50;
  --color-table-fill-odd: #faf0e6;
  --color-table-fill-even: #f4efea;
  --color-text-table-item: #53514a;

  --color-ic-hp: #e7000b;
  --color-text-hp-current: #e7000b;
  --color-text-hp-max: #9f0712;
  --color-ic-armor-fill: #a59f9a;
  --color-ic-armor-border: #78706a;
  --color-text-armor: #56524c;
  --color-ic-luck: #00a63e;
  --color-text-luck-current: #00a63e;
  --color-ic-studied: #0092b8;
  --color-text-studied-current: #0092b8;
  --color-ic-fatigue: #733e0a;
  --color-text-fatigue-current: #733e0a;
  --color-mana: #155dfc;
  --color-ic-equipped: #3d5541;
  --color-btn-primary-fill: #6a2e2a;
  --color-btn-primary-hover: #fdfbf7;
  --color-btn-primary-text: #eeeeed;
  --color-btn-secondary-fill: #d7ccc8;
  --color-btn-secondary-hover: #d6a593;
  --color-btn-secondary-text: #3d2622;
  --color-destructive-action: #f72b35;
}

.dark {
  --color-sheet-header-fill: #1c1917;
  --color-text-header-primary: #c5b358;
  --color-text-header-secondary: #e7e5e4;
  --color-text-header-tertiary: #8a8580;

  --color-portrait-fill-bg: rgba(0; 0; 0; .1);
  --color-portrait-border: #675e38;
  --color-body-fill: #292524;

  --color-text-tab-active: #c5b358;
  --color-text-tab-inactive: #675e38;
  --color-scroll-bar-handle: #787677;
  --color-scroll-bar-track: #221f21;

  --color-section-header-fill: #c5b358;
  --color-section-header-line: #918444;
  --color-text-section-header: #1c1917;

  --color-text-primary: #e7e5e4;
  --color-text-secondary: #a6a09b;
  --color-text-tertiary: #79716b;
  --color-text-special: #e7e5e4;
  --color-text-aux: #c1bebd;
  --color-text-dmg: #ee5e61;
  --color-text-highlight: #e2c38c;
  --color-text-bold: #c1af56;

  --color-ic-skill-trained: #c5b358;
  --color-ic-skill-untrained: #57534d;
  --color-skill-divider: #47412e;
  --color-skill-bg-fill: #292524;
  --color-skill-border: #44403b;
  --color-stat-block-fill: #c5b358;

  --color-table-border: #44403b;
  --color-table-fill-odd: #292524;
  --color-table-fill-even: #44403c;
  --color-text-table-item: #eae8e7;

  --color-ic-hp: #e7000b;
  --color-text-hp-current: #e7000b;
  --color-text-hp-max: #ff6467;
  --color-ic-armor-fill: #a59f9a;
  --color-ic-armor-border: #78706a;
  --color-text-armor: #56524c;
  --color-ic-luck: #00a63e;
  --color-text-luck-current: #00a63e;
  --color-ic-studied: #0092b8;
  --color-text-studied-current: #0092b8;
  --color-mana: #155dfc;
  --color-ic-fatigue: #a59f9a;
  --color-text-fatigue-current: #a59f9a;
  --color-ic-equipped: #c5b358;
  --color-btn-primary-fill: #c5b358;
  --color-btn-primary-hover: #c5bb82;
  --color-btn-primary-text: #1c1917;
  --color-btn-secondary-fill: #44403b;
  --color-btn-secondary-hover: #636363;
  --color-btn-secondary-text: #e7e5e4;
  --color-destructive-action: #f72b35;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  font-family: "Paradigm";
  font-size: 18px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--color-text-tertiary);
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 4px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  bottom: 1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
}

.react-tabs__tab {
  color: var(--color-text-tab-active)
}

.react-tabs__tab--selected {
  border-radius: 5px 5px 0 0;
  font-weight: 600;
}

.react-tabs__tab--selected {
  border-color: var(--color-text-tertiary);
}

.react-tabs__tab--selected:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab--selected:after {
  background: var(--color-text-tab-active);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: 318px;
  overflow-y: auto;
}