@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.vglite-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.vglite-col-1 {
  grid-column: span 1;
}

.vglite-col-2 {
  grid-column: span 2;
}

.vglite-col-3 {
  grid-column: span 3;
}

.vglite-col-4 {
  grid-column: span 4;
}

.vglite-col-5 {
  grid-column: span 5;
}

.vglite-col-6 {
  grid-column: span 6;
}

.vglite-col-7 {
  grid-column: span 7;
}

.vglite-col-8 {
  grid-column: span 8;
}

.vglite-col-9 {
  grid-column: span 9;
}

.vglite-col-10 {
  grid-column: span 10;
}

.vglite-col-11 {
  grid-column: span 11;
}

.vglite-col-12 {
  grid-column: span 12;
}

.theme-light .vglite-hp {
  border-color: #e7000b;
  color: #e7000b;
  fill: #e7000b;
}
.vglite-armor {
  margin-left: 20px;
  color: #a6a09b;
  fill: #57534d;
}

.vglite-container {
  background-color: #1c1917;
}

.vglite-text {
  font-size: 36px;
  font-family: "Eskapade";
  color: #d6d3d1;
}

.vglite-header {
  display: flex;
  width: 100%;
  background-color: var(--text-primary-color);
  align-items: center;
}
.vglite-header h1 {
  color: #0c0a09;
  text-align: center;
  font-family: "Eskapade";
  position: relative;
  bottom: 5px;
}
.vglite-header .vglite-divider {
  color: #0c0a09;
  flex: 1;
  height: 1px;
  margin-right: 5px;
  margin-left: 5px;
}

.vglite-divider {
  background-color: #0c0a09;
}

.vglite-char-sheet-header {
  padding: 10px;
  background-color: #1c1917;
  color: var(--text-primary-color);
  font-family: "Eskapade";
  font-weight: bolder;
  font-size: 36px;
}
.vglite-char-sheet-header .level {
  color: #d6d3d1;
  font-weight: normal;
  font-size: 18px;
  flex: 1;
  padding-bottom: 5px;
}
.vglite-char-sheet-header .level .vglite-dot {
  color: #a6a09b;
}
.vglite-char-sheet-header .level span {
  padding-right: 3px;
}
.vglite-char-sheet-header .xp {
  color: #a6a09b;
  font-weight: normal;
  font-size: 16px;
}
.vglite-char-sheet-header .xp span {
  padding-right: 3px;
}

.vglite-thumbnail {
  height: 200px;
  width: 200px;
  background-color: #0c0a09;
}

.vglite-hp {
  font-family: "Eskapade";
  font-size: 36px;
}
.vglite-hp .current {
  color: #e7000b;
}
.vglite-hp .slash {
  color: #a6a09b;
}
.vglite-hp .max {
  color: #ff6467;
}

@font-face {
  font-family: "Eskapade";
  src: url("../assets/fonts/eskapade-black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Eskapade";
  src: url("../assets/fonts/eskapade-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Germania";
  src: url("../assets/fonts/germania-one-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ludlow";
  src: url("../assets/fonts/ludlow-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manofa";
  src: url("../assets/fonts/manofa-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Paradigm";
  src: url("../assets/fonts/paradigm-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Paradigm";
  src: url("../assets/fonts/paradigm-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Paradigm";
  src: url("../assets/fonts/paradigm-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/*# sourceMappingURL=vagabond-lite.css.map */
